*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body,
.wrapper {
    height: 150;
    margin: 0;
    padding: 0;
}
 body {
    font-family: Trebuchet MS;
    background-color: blue;
 }
 .wrapper { 
    padding: 50px;
 }

 header {
    text-align: center;
    padding: 10px;
    color: orangered;
 }

 .box {
    background-color: orangered;
    border-radius: 10px;
    border-width: 15px;
    box-shadow: rgba(138, 43, 226, 0.2);
    font-size: 20;
    margin: 0 auto;
    max-width: 600;
    padding: 35px;
 }

 .box-header::after {
    content: " ";
    display: block;
    width: 100%;
    background: blue;
    height: 2px;
 }

.box-body {
    min-height: 100px;
}

.box-footer {
    text-align: center;
    
}

.box-footer::before {
    content: " ";
    display: block;
    width: 100%;
    background: blue;
    height: 2px;
}

.box-footer::after{
    content: " ";
    display: block;
    clear: both;
}

.button {
    border: none;
    background-color:white;
    border-radius: 50px;
    box-shadow: transparent;
    color: blue;
    display: inline-block;
    font-size: 30px;
    line-height: 30px;
    margin:20px;
    text-align:center;
    padding: 25px 50px;
    cursor: pointer;
}


.button[disabled] {
    cursor:default;
    background:white;
}

.float-right {
    float: right;
  }
  
  #password {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    display: block;
    width: 100%;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 85px;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px dashed #c0c7cf;
    border-radius: 25px;
    resize: none;
    overflow: hidden;
  }
  
  @media (max-width: 690px) {
    button {
      font-size: 1rem;
      margin: 20px;
      padding: 20px
    }
  
    #password {
      font-size: 1rem;
    }
  }
  
  @media (max-width: 500px) {
    button {
      font-size: 0.8rem;
    }
  }